@model TicketSystem.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Crear ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="../Shared/PartialViews/_TicketsCreateEdit.cshtml">

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
